.pokemon {
    /*border: 6px solid #050000b6;  Agrega un borde de 1px con color gris claro */
    padding: 20px; /* Agrega relleno alrededor del formulario */
    width: 400px; /* Establece el ancho del contenedor */
    
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: rgba(54, 9, 9, 0.644);
}

