body {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif!important;
}



h1{color: white!important;
  margin-bottom: 40px!important;
  margin-top:40px!important;
  background-color:rgb(0, 0, 0);
  padding: 10px;  
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  h2 {
    color: white !important;
  }
  

p{
  color: white!important;
  font-size: 110%; 
}





